SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tbluser]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tbluser](
	[userid] [uniqueidentifier] NULL,
	[fldusername] [nchar](10) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MAPPING]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MAPPING](
	[MAPPING_ID] [int] NOT NULL,
	[CRM_SYSTEM] [varchar](50) NULL,
	[VR_SYSTEM] [varchar](50) NULL,
	[NAME1] [varchar](50) NULL,
	[NAME2] [varchar](50) NULL,
	[NAME3] [varchar](50) NULL,
	[NAME4] [varchar](50) NULL,
	[NAME5] [varchar](50) NULL,
 CONSTRAINT [PK_MAPPING] PRIMARY KEY CLUSTERED 
(
	[MAPPING_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RECORDING]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RECORDING](
	[MAPPING_ID] [int] NULL,
	[TIMESTAMP] [datetime] NULL,
	[PROJECT] [varchar](50) NULL,
	[CAMPAIGN] [varchar](50) NULL,
	[CRM_DBSERVER] [varchar](50) NULL,
	[CRM_RECORD_ID] [varchar](50) NULL,
	[VR_DBSERVER] [varchar](50) NULL,
	[VOICEFILE_ID] [varchar](50) NULL,
	[DATA1] [varchar](50) NULL,
	[DATA2] [varchar](50) NULL,
	[DATA3] [varchar](50) NULL,
	[DATA4] [varchar](50) NULL,
	[DATA5] [varchar](50) NULL
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RECORDING_MAPPING]') AND parent_object_id = OBJECT_ID(N'[dbo].[RECORDING]'))
ALTER TABLE [dbo].[RECORDING]  WITH CHECK ADD  CONSTRAINT [FK_RECORDING_MAPPING] FOREIGN KEY([MAPPING_ID])
REFERENCES [dbo].[MAPPING] ([MAPPING_ID])
GO
ALTER TABLE [dbo].[RECORDING] CHECK CONSTRAINT [FK_RECORDING_MAPPING]

